.header {
    >h1 {
        color: rgba(10, 10, 10, 0.8);
        font-family: 'Oswald', sans-serif;
        font-size: 1.4rem;
        font-weight: normal;
        @media screen and (max-width: 768px) {
            margin: 20px 0 5px 0;
        }
    }
}